// Home skeleton

// Estilos de espacios
.padding_section4 {
  padding: 30px 50px;
  .img {
    padding: 10px;
  }
  .card {
    padding: 30px 20px;
    background-color: #2FAD62;
  }
}

// Estilos de posicionamiento
.margin_top_all {
  margin-top: -72px;
}
.contenedor{
  position: relative;
  display: inline-block;
  z-index: 0;
  .img {
    height: 100%;
  }
  .texto_encima{
    position: absolute;
    bottom: 70px;
  }
}
.video_carrusel {
  position: absolute;
  z-index: 3;
  top: -50px;
  right: 0%;
  width: 160px;
  height: 160px;
}
.video_mobile {
  width: 300px;
  height: 300px;
}

// Estilos de responsividad
.height_mobile_section1 {
  height: 100vh
}
@media only screen and (max-width: 500px) {
  .height_mobile_section1 {
    height: 60vh
  }
}
@media only screen and (min-width: 500px) and (max-width: 900px) {
  .height_mobile_section1 {
    height: 85vh
  }
}
.height_section2 {
  height: 100vh;
  .card {
    display: flex;
    justify-content: left;
    height: 100%
  }
}
@media only screen and (max-width: 600px) {
  .height_section2 {
    height: auto;
    .card {
      height: 300px;
      padding-top: 15px;
      padding-bottom: 15px;
      display: flex;
      justify-content: center;
    }
  }
  .padding_section4 {
    padding: 0%;
    .img {
      padding: 0%;
    }
    .card {
      padding: 30px 30px;
    }
  }
}
@media only screen and (min-width: 599px) and (max-width: 826px) {
  .height_section2 {
    height: 100vh;
    .card {
      height: 50vh;
      padding-top: 15px;
      padding-bottom: 15px;
      display: flex;
      justify-content: left;
    }
  }
}
.height_section3 {
  height: 100vh
}
@media only screen and (max-width: 860px) {
  .contenedor{
    padding-top: 120px;
    .img {
      height: 600px;
    }
  }
  .height_section3 {
    height: auto
  }
}
.text_section1_mobile {
  width: 100%
}
@media only screen and (max-width: 700px) {
  .text_section1_mobile {
    position: absolute;
    top: 120px
  }
}
.web_change_img {
  width: auto
}
@media only screen and (max-width: 500px) {
  .web_change_img {
    display: none !important;
  }
}
.mobile_change_img {
  width: auto
}
@media only screen and (min-width: 500px) {
  .mobile_change_img {
    display: none !important;
  }
}

.web_img_section3 {
  width: auto
}
@media only screen and (max-width: 860px) {
  .web_img_section3 {
    display: none !important;
  }
}
.mobile_img_section3 {
  width: auto
}
@media only screen and (min-width: 861px) {
  .mobile_img_section3 {
    display: none !important;
  }
}
.order_img {
  order: 0
}
@media only screen and (max-width: 599px) {
  .order_img {
    order: 1
  }
}