// Home skin

// Estilos de bordes
.border_green_home {
  border: 0.1em solid green;
}
.border_blue {
  border: 3px solid #81A3EE;
}
.border_blue_green {
  border: 0.1em solid #38B062;
}
.border_blue_rounded {
  border: 0.2em solid #81A3EE;
  border-radius: 2em;
}

// Estilos de color de fondo
.fondo_naranja {
  background-color: #EF5A37;
}
.fondo_amarillo {
  background-color: #F9D938;
}
.fondo_gris {
  background-color: #E5E1D3;
}
.fondo_blue_dark {
  background-color: #00446D;
}

// Estilos de texto
.text_naranja {
  color: #EF5A37;
}
.title_1 {
  font-size: calc(0.4em + 2.6vw);
}
.text_title_small {
  font-size: calc(0.4em + 2vw);
}
.text_section_3 {
  font-size: calc(0.4em + 1vw);
  .pb_bottom {
    padding-bottom: 2em;
  }
}

// Estilos responsives
@media only screen and (max-width: 599px) {
  .title_1 {
    font-size: 2em
  }
  .text_section_3 {
    font-size: 1.1em
  }
  .text_title_small {
    font-size: 1.5em
  }
}