// app global css in SCSS form

// Layouts
@import 'layouts/skin';
@import 'layouts/skeleton';

// Home
@import 'home/skin';
@import 'home/skeleton';

// Campito
@import 'campito/skin';
@import 'campito/skeleton';

// Blog
@import 'blog/skin';
@import 'blog/skeleton';

@font-face {
  font-family: gotham_bold;
  src: url(./fonts/Gotham-Bold.otf);
}
.my-font-bold {
    font-family: 'gotham_bold';
}
@font-face {
  font-family: gotham;
  src: url(./fonts/Gotham-Book.otf);
}

.my-font {
    font-family: 'gotham';
}
@font-face {
  font-family: gotham_ultra;
  src: url(./fonts/Gotham-Black.otf);
}
.my-font-ultra {
    font-family: 'gotham_ultra';
}