// Blog skeleton

// Estilos de posicionamiento
.menu_blog {
  position: sticky;
  top: 70px;
  width: 100%;
  height:100vh;
}

// Estilos de espacios
.padding_blog {
  padding: 10px 15px;
}
.text_blog_content {
  font-size: calc(0.4em + 1.5vw);
}

// Estilos de tamaño
.avatar_size {
  width: 5vw;
  height: 5vw
}
.icon_add_blog {
  font-size: 2vh;
}

// Estilos responsives
@media only screen and (max-width: 600px) {
  .padding_blog {
    padding: 30px;
  }
  .text_blog_content {
    font-size: 1.5em;
  }
  .menu_blog {
    height:auto;
  }
  .avatar_size {
    width: 15vw;
    height: 15vw
  }
  .icon_add_blog {
    width: auto;
    height: auto;
  }
}