// Blog skeleton

// Estilos de posicionamiento
.menu_blog {
  position: sticky;
  top: 70px;
  width: 100%;
  height:100vh;
}

// Estilos de espacios
.padding_blog {
  padding: 10px 15px;
}
.padding_card_detalle {
  padding: 3vh 7vh
}

// Estilos de tamaño
.size_card_blog {
  height: 100%;
  width: 20vw;
}
.avatar_size {
  width: 5vw;
  height: 5vw
}
.icon_add_blog {
  font-size: 2vh;
}
.text_blog_content {
  font-size: calc(0.4em + 1.5vw);
}
.input_buscar {
  padding: calc(0.1em + 0.1vw) 2vh;
  border-radius:20px;
  font-size: 2vh
}
.subtitle_detalle {
  font-size: calc(0.3em + 2vw);
  line-height: 1.2em;
}

// Estilos responsives
@media only screen and (max-width: 600px) {
  .size_card_blog {
    width: 100%;
  }
  .subtitle_detalle {
    font-size: 1.2em
  }
  .padding_blog {
    padding: 30px;
  }
  .padding_card_detalle {
    padding: 3vh 2vh;
  }
  .text_blog_content {
    font-size: 1.8em;
  }
  .menu_blog {
    height:auto;
  }
  .avatar_size {
    width: 15vw;
    height: 15vw
  }
  .icon_add_blog {
    width: auto;
    height: auto;
  }
  .input_buscar {
    padding: auto;
    font-size: auto
  }
}