// Home skin

// Estilos de bordes
.border_green {
  border: 3px solid green;
}
.border_blue {
  border: 4px solid #81A3EE;
  border-radius: 20px;
}
.fondo_naranja {
  background-color: #EF5A37;
}
.text_naranja {
  color: #EF5A37;
}